body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.row{
  margin-top: 2rem;
}
.card{
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  cursor: pointer;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  opacity: 100%;
  
}
.card-subtitle:hover{
  color: blue;
}
/* .get-user:hover{
  color:white;
} */
/* .nav-link:hover{
  color: white !important;
} */
.col{
  padding-top: 2rem;
}
.card{
  border-radius: 15px !important;
}
img{
  border-radius: 10px !important;
}
use:hover{
  border-bottom-color: white !important;
}
.btn-secondary {
  background-color: faded !important;
}
.btn-secondary:hover{
  color: #292b2c;
    background-color: #fff !important;
    border-color: #ccc;
}
h4.card-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}
h6.card-subtitle {
  font-size: 15px;
  line-height: 1.8;
  font-family: "Montserrat", sans-serif;
}